@import "tailwindcss";

@source "../../../ui/src/**/*.{js,jsx,ts,tsx}";

@layer base {
  :root {
    --accent-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 98%;
    --background: 0 0% 100%;
    --border: 0 0% 89.8%;
    --border: 214.3 31.8% 91.4%;
    --card-foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card: 0 0% 100%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --chart-6: 103 70% 39%;
    --chart-green: 100 58% 39%;
    --destructive: 0 84.2% 60.2%;
    --foreground: 222.2 84% 4.9%;
    --input: 214.3 31.8% 91.4%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --muted: 210 40% 98%;
    --popover-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --primary-foreground: 355.7 100% 97.3%;
    --primary: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
    --ring: 142.1 76.2% 36.3%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --secondary: 210 40% 98%;
    --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --sidebar-accent-foreground: 2 5.9% 10%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-border: 220 13% 91%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --accent-foreground: 210 40% 98%;
    --accent: 0 0% 14.9%;
    --accent: 217.2 32.6% 17.5%;
    --background: 0 0% 3.9%;
    --background: 222.2 84% 4.9%;
    --border: 0 0% 14.9%;
    --border: 217.2 32.6% 17.5%;
    --card-foreground: 0 0% 98%;
    --card-foreground: 210 40% 98%;
    --card: 0 0% 3.9%;
    --card: 222.2 84% 4.9%;
    --chart-1: 220 70% 50%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --chart-5: 340 75% 55%;
    --chart-6: 220 70% 50%;
    --destructive-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive: 0 62.8% 30.6%;
    --foreground: 0 0% 98%;
    --foreground: 210 40% 98%;
    --input: 0 0% 14.9%;
    --input: 217.2 32.6% 17.5%;
    --muted-foreground: 0 0% 63.9%;
    --muted-foreground: 215 20.2% 65.1%;
    --muted: 0 0% 14.9%;
    --muted: 217.2 32.6% 17.5%;
    --popover-foreground: 0 0% 98%;
    --popover-foreground: 210 40% 98%;
    --popover: 0 0% 3.9%;
    --popover: 222.2 84% 4.9%;
    --primary-foreground: 144.9 80.4% 10%;
    --primary: 142.1 70.6% 45.3%;
    --ring: 142.1 76.2% 36.3%;
    --secondary-foreground: 210 40% 98%;
    --secondary: 0 0% 14.9%;
    --secondary: 217.2 32.6% 17.5%;
    --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.3), 0 1px 2px -1px rgb(0 0 0 / 0.3);
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

::-webkit-scrollbar {
  display: none;
}

* {
  min-width: 0;
}

html,
body {
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

h1 {
  @apply text-4xl font-semibold text-gray-900 py-4 m-0;
}

h2 {
  @apply text-3xl font-semibold text-gray-900 py-4 m-0;
}

a {
  @apply no-underline;
}

a:hover {
  @apply underline;
}

.inner-scroll-content {
  height: calc(100% - 60px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.inner-scroll-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.inner-scroll-content::-webkit-scrollbar-track {
  background-color: transparent;
}

.inner-scroll-content::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  font-family: "Montserrat", sans-serif !important;
}

html.dark input:-webkit-autofill,
html.dark input:-webkit-autofill:hover,
html.dark input:-webkit-autofill:focus,
html.dark input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff !important;
  box-shadow: 0 0 0px 1000px #000 inset !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 9999s; /* Prevent transition from kicking in immediately */
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
  -webkit-text-fill-color: currentColor;
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
}

.bg-login {
  background: url("/images/bg-login.svg") no-repeat center center;
  background-size: cover;
}

html.dark body.bg-login {
  background: url("/images/bg-login-dark.svg") no-repeat center center;
  background-color: #000;
  background-size: cover;
}

@media (min-width: 1024px) {
  .desktop-height-80vh {
    min-height: 80vh;
  }
  .desktop-overflow-visible {
    overflow: visible;
  }
}

@media (min-width: 1793px) {
  .desktop-height-80vh {
    min-height: 82vh;
  }
}

.border-gray {
  @apply border-gray-200 dark:border-gray-800;
}

.bg-white-or-black {
  @apply dark:text-white bg-white text-black dark:bg-black;

  &:hover {
    @apply dark:text-white bg-gray-100 text-black dark:bg-gray-900;
  }
}
